{% extends "layout.html" %}

{% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="{{url_for('register')}}" method="post">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>Register</h1>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="form-group"></div>
                                <label for="email">Email:</label>
                                {{form.email(class_="form-control")}}
                            </div>
                            <div class="form-group">
                                <label for="password">New Password:</label>
                                {{form.password1(class_="form-control")}}
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                {{form.password2(class_="form-control")}}
                                {{form.hidden_tag() }}
                            </div>
                            {% for field in form.errors %}
                            {% for error in form.errors[field] %}
                            <div class="alert alert-error">
                                <strong>Error!</strong> {{error}}
                            </div>
                            {% endfor %}
                            {% endfor %}
                            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                            {% if errors %}
                            {% for msg in errors %}
                            <div class="alert alert-error">
                                <strong>Error!</strong> {{msg}}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="panel-footer">
                            <input class="btn btn-primary" type="submit" value="Register" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


{% endblock %}